@model Category
@if (TempData["Sucess"] != null)
{
    <h2>@TempData["Sucess"] </h2>
}
<form method="post">
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr />

        </div>
        <div class="mb-3">
            <label asp-for="Name" class="p0 row p-0">Category Name</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MyOrder" class="p0 row p-0">Order Number</label>
            <input asp-for="MyOrder" type="text" class="form-control" />
            <span asp-validation-for="MyOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" style="width:150px; border: 2px">
                    Create
                </button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control" style="width:150px; border: 2px solid #000; border-radius: 5px; padding: 10px 0; font-size: 16px;">
                    Back to List
                </a>
            </div>
        </div>

</form>